<div class="flex justify-center">
  <div class="w-10/12 flex gap-6">

    <div class="w-2/3" >
      <img
        src="https://img.freepik.com/vector-gratis/tres-pines-ubicacion-degradado_78370-3143.jpg?w=740&t=st=1700957552~exp=1700958152~hmac=94bd08e2d11607d8fb0982a0cee42bfe3444ae2f0aba5e618ddb7e23a9c22a61"
        alt="maps"
        class="h-1/4 w-11/12 rounded-lg"
      />
      <h1 class="text-2xl text-red-400 font-semibold my-2">Contact</h1>
      <p class="text-gray-500 text-sm mb-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique,
        distinctio corporis voluptas, eum sequi, ipsa natus sit perspiciatis
        nesciunt repellendus saepe dolor. Recusandae, doloremque molestias
      </p>
      <p class="text-gray-500 text-sm mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis a,
        nisi, eligendi eaque iusto ex expedita fuga sit soluta eos
      </p>
      <h1 class="text-2xl text-red-400 font-semibold my-2">Let´s Talk</h1>
      <div class="flex gap-6">

        <div>
          <i class="fa-solid fa-house text-4xl text-red-400"></i>
          <p class="font-bold text-lg">Lorem ipsum</p>
          <p class="text-gray-400">99th, arround St. Plau City, 28495</p>
          <p class="text-gray-400">Riau, Indonesia</p>
        </div>

        <div>
          <i class="fa-solid fa-house text-4xl text-red-400"></i>
          <p class="font-bold text-lg">Lorem ipsum</p>
          <p class="text-gray-400">99th, arround St. Plau City, 28495</p>
        </div>

        <div>
          <i class="fa-solid fa-house text-4xl text-red-400"></i>
          <p class="font-bold text-lg">Lorem ipsum</p>
          <p class="text-gray-400">99th, arround St. Plau City</p>
        </div>

      </div>
    </div>

    <div class="w-2/5" >
      <h1 class="text-4xl text-white font-bold my-2">Just Say <strong class=" text-red-400">Hi</strong></h1>
      <p class="text-sm text-gray-400 my-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed itaque
        mollitia repellendus? Quod dolorem repudiandae illum
      </p>

      <form action="">
        <div class="w-full my-4">
          <label for="name">Nombre</label>
          <input class="w-full bg-transparent border outline-none rounded-md border-red-400" type="text" name="name">
        </div>
        <div class="w-full my-4">
          <label for="email">Email</label>
          <input class="w-full bg-transparent border outline-none rounded-md border-red-400" type="email" name="email">
        </div>
        <div class="w-full my-4">
          <label for="message">Message (optional)</label>
          <textarea class="w-full h-24 bg-transparent border outline-none rounded-md border-red-400" name="message"></textarea>
        </div>
        <div class="">
          <button class="bg-red-400 py-2 px-8 rounded-3xl text-gray-800 font-semibold">SUBMIT</button>
        </div>
      </form>
    </div>

  </div>
</div>
