<div className='w-full flex flex-col items-center'>
  <div class="flex justify-center w-full mb-4">
    <div class="">
      <img class="w-screen h-72" src="https://img.freepik.com/foto-gratis/espacio-oficina-moderno-escritorios-computadoras-modernas-creadas-tecnologia-ia-generativa_185193-110089.jpg?w=900&t=st=1700962523~exp=1700963123~hmac=bb953494a5bbdfbc402499a504aeb4a0b3766ff0e80c6c2939895c4e28cef879" alt="header">
      <div class="w-full">
        <p class="ml-2 text-sm">Home/Contactar</p>
        <h1 class="text-4xl text-center font-bold mb-6">Our <strong class="font-bold">Contactar</strong></h1>
      </div>
    </div>
  </div>

  <div class="py-10">
    <app-socialnetwork />
  </div>

  <div class="w-full pl-8 md:px-12 flex flex-col md:flex-row">

    <div class="w-full flex md:flex-row flex-col justify-center mb-10">

      <div class="float-left bg-red-200 p-4 rounded-lg shadow-lg w-80 md:w-72 m-4">
        <i class="fa-solid fa-location-dot text-5xl text-center w-full text-red-400"></i>
        <h1 class="font-semibold text-center mt-4">
          NUESTRA OFICINA PRINCIPAL
        </h1>
        <p class="text-center text-gray-500">Barranquilla - Atlántico , Colombia</p>
      </div>

      <div class="float-left bg-red-200 p-4 rounded-lg shadow-lg w-80 md:w-72 m-4">
        <i class="fa-solid fa-phone text-5xl text-center w-full text-red-400"></i>
        <h1 class="font-semibold text-center mt-4">NÚMERO DE TÉLEFONO</h1>
        <p class="mt-3 text-center text-gray-500">Celular: 3058564125</p>
      </div>

      <div class="float-left bg-red-200 p-4 rounded-lg shadow-lg w-80 md:w-72 m-4">
        <i class="fa-brands fa-whatsapp text-5xl text-center w-full text-red-400"></i>
        <h1 class="font-semibold text-center mt-4">WHATSAPP</h1>
        <p class="mt-3 text-center text-gray-500">3001963770</p>
      </div>

      <div class="float-left bg-red-200 p-4 rounded-lg shadow-lg w-80 md:w-72 m-4">
        <i class="fa-solid fa-envelopes-bulk text-5xl text-center w-full text-red-400"></i>
        <h1 class="font-semibold text-center mt-4">CORREO ELECTRONICO</h1>
        <p class="mt-3 text-center text-gray-500">serviciosytic&#64;gmail.com</p>
      </div>

    </div>

  </div>

  <app-contacts />

</div>
