<div class="flex justify-center mt-14 pb-12">

 <div class="flex flex-col md:flex-row w-10/12">

  <div class="hover:bg-red-600 mb-3 shadow-lg text-black mx-3 pl-8 py-4 rounded-lg hover:text-white">
    <i class="text-start w-full my-2 text-red-400 text-4xl fa-solid fa-truck"></i>
    <h1 class="font-semibold">Instalacion de CCTV</h1>
    <p class="text-sm font-medium">
      En la era digital y con la creciente necesidad de salvaguardar tanto propiedades como personas, la instalación de sistemas de circuito cerrado de televisión (CCTV) se ha convertido en una herramienta fundamental para la seguridad.
    </p>
  </div>

  <div class="hover:bg-red-600 mb-3 shadow-lg text-black mx-3 pl-8 py-4 rounded-lg hover:text-white">
    <i class="text-start w-full my-2 text-red-400 text-4xl fa-solid fa-truck"></i>
    <h1 class="font-semibold">Controles de Acceso</h1>
    <p class="text-sm font-medium">
      Ofrecer servicios de control de acceso implica proporcionar soluciones tecnológicas y estratégicas que no solo garanticen la seguridad, sino también la eficiencia en la gestión de personas y recursos.
    </p>
  </div>

  <div class="hover:bg-red-600 mb-3 shadow-lg text-black mx-3 pl-8 py-4 rounded-lg hover:text-white">
    <i class="text-start w-full my-2 text-red-400 text-4xl fa-solid fa-truck"></i>
    <h1 class="font-semibold">Redes Electricas</h1>
    <p class="text-sm font-medium">
      En un mundo impulsado por la tecnología y la constante demanda de energía, la eficiente planificación, diseño, instalación y mantenimiento de redes eléctricas se ha vuelto crucial
    </p>
  </div>

  <div class="hover:bg-red-600 mb-3 shadow-lg text-black mx-3 pl-8 py-4 rounded-lg hover:text-white">
    <i class="text-start w-full my-2 text-gray-700 text-4xl fa-solid fa-truck"></i>
    <h1 class="font-bold">Redes y Telecomunicaciones</h1>
    <p class="text-sm font-medium">
      Ofrecer servicios especializados en este ámbito implica facilitar la infraestructura y tecnología necesaria para la transmisión de datos, voz y video de manera eficiente y segura.
    </p>
  </div>

 </div>
</div>
