<div class="flex justify-center" >
  <div class="w-10/12 flex">
    <div class="w-1/2">
      <p class="text-red-400 font-bold mb-4">IT´S VAPOUR</p>
      <h1 class="text-6xl font-bold mb-4">Welcome To Best <strong class="font-bold text-red-400">Vape Store</strong></h1>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quisquam
        consequuntur harum, in magnam at asperiores doloribus. Quo porro</p>
      <p class="w-11/12 text-start my-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quisquam
        consequuntur harum, in magnam at asperiores doloribus. Quo porro
        explicabo vel aperiam quibusdam velit, et aut ipsum inventore. Modi,
        magni.
      </p>
      <div class="mb-4">
        <span class="font-semibold text-lg">Follow Us:
          <i class="ml-4  hover:text-red-500 text-red-400 cursor-pointer text-base fa-brands fa-facebook"></i>
          <i class=" ml-2 hover:text-red-500 text-red-400 cursor-pointer text-base fa-brands fa-twitter"></i>
          <i class=" ml-2 hover:text-red-500 text-red-400 cursor-pointer text-base fa-brands fa-whatsapp"></i>
        </span>
      </div>
      <button class="bg-red-400 rounded-2xl text-sm p-2 text-gray-800 font-semibold" >GET STARTED</button>
    </div>

    <div class="flex flex-wrap w-1/2">
      <img class="w-full rounded-lg mb-3 mx-auto" src="https://img.freepik.com/foto-gratis/elegante-empresaria-segura-sonriendo_176420-19466.jpg?w=740&t=st=1700529369~exp=1700529969~hmac=00721a914fa81d8f2a370a7b40055d2eabb9a737c0bbe46d949248d6420f8d37" alt="">
      <div class="flex gap-2 w-full pr-4">
        <img class="rounded-lg w-1/3 flex-1" src="https://img.freepik.com/foto-gratis/elegante-empresaria-segura-sonriendo_176420-19466.jpg?w=740&t=st=1700529369~exp=1700529969~hmac=00721a914fa81d8f2a370a7b40055d2eabb9a737c0bbe46d949248d6420f8d37" alt="">
        <img class="rounded-lg w-1/3 flex-1" src="https://img.freepik.com/foto-gratis/elegante-empresaria-segura-sonriendo_176420-19466.jpg?w=740&t=st=1700529369~exp=1700529969~hmac=00721a914fa81d8f2a370a7b40055d2eabb9a737c0bbe46d949248d6420f8d37" alt="">
        <img class="rounded-lg w-1/3 flex-1" src="https://img.freepik.com/foto-gratis/elegante-empresaria-segura-sonriendo_176420-19466.jpg?w=740&t=st=1700529369~exp=1700529969~hmac=00721a914fa81d8f2a370a7b40055d2eabb9a737c0bbe46d949248d6420f8d37" alt="">
      </div>
    </div>


  </div>
</div>
