<div>
  <app-header />
  <app-home-service />
  <app-home-service-description />

  <div class="bg-white w-full flex justify-center h-36 py-4 my-20">
    <div class="flex w-10/12 gap-10">
      <img class="w-1/6" src="https://img.freepik.com/vector-gratis/servicio-envio-mundial-distribucion-internacional-logistica-colaborativa-socios-cadena-suministro-concepto-optimizacion-costos-flete-ilustracion-aislada-bluevector-coral-rosado_335657-1757.jpg?w=1380&t=st=1700873179~exp=1700873779~hmac=fbca39643d36d6ffac6b8061576649f46e8ad6dc149ef00d251440d8286d38a2" alt="img1">
      <img class="w-1/6" src="https://img.freepik.com/vector-gratis/servicio-envio-mundial-distribucion-internacional-logistica-colaborativa-socios-cadena-suministro-concepto-optimizacion-costos-flete-ilustracion-aislada-bluevector-coral-rosado_335657-1757.jpg?w=1380&t=st=1700873179~exp=1700873779~hmac=fbca39643d36d6ffac6b8061576649f46e8ad6dc149ef00d251440d8286d38a2" alt="img2">
      <img class="w-1/6" src="https://img.freepik.com/vector-gratis/servicio-envio-mundial-distribucion-internacional-logistica-colaborativa-socios-cadena-suministro-concepto-optimizacion-costos-flete-ilustracion-aislada-bluevector-coral-rosado_335657-1757.jpg?w=1380&t=st=1700873179~exp=1700873779~hmac=fbca39643d36d6ffac6b8061576649f46e8ad6dc149ef00d251440d8286d38a2" alt="img3">
      <img class="w-1/6" src="https://img.freepik.com/vector-gratis/servicio-envio-mundial-distribucion-internacional-logistica-colaborativa-socios-cadena-suministro-concepto-optimizacion-costos-flete-ilustracion-aislada-bluevector-coral-rosado_335657-1757.jpg?w=1380&t=st=1700873179~exp=1700873779~hmac=fbca39643d36d6ffac6b8061576649f46e8ad6dc149ef00d251440d8286d38a2" alt="img4">
      <img class="w-1/6" src="https://img.freepik.com/vector-gratis/servicio-envio-mundial-distribucion-internacional-logistica-colaborativa-socios-cadena-suministro-concepto-optimizacion-costos-flete-ilustracion-aislada-bluevector-coral-rosado_335657-1757.jpg?w=1380&t=st=1700873179~exp=1700873779~hmac=fbca39643d36d6ffac6b8061576649f46e8ad6dc149ef00d251440d8286d38a2" alt="img5">
    </div>
  </div>

  <app-contact />

</div>
